<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Admin.DAO.AdminMapper">

	<!-- 모든유저의 출근일을 년월을 기준으로 검색 -->
	<select id="adminattendMonth" parameterType="DateData" resultType="Commute">
		SELECT * FROM commute WHERE year(attend) = #{toYear} and month(attend) = #{toMonth};
	</select>

	<!--모든유저의 해당날의 출근일을 검색 -->
	<select id="adminattendDay" parameterType="DateData" resultType="Commute">
		SELECT * FROM commute WHERE date(attend) = #{toDay};
	</select>

	<!--모든유저 조회 -->
	<select id="adminallUserSelect" resultType="User">
		SELECT * FROM user;
	</select>

	<select id="adminTodayAttend" resultType="Commute">
		SELECT * FROM commute where date(attend) = date(now()) and time(attend) <![CDATA[ <= ]]> time("9:00:59");;
	</select>

	<select id="adminAttendData" resultType="Admin">
		SELECT user.userNo, user.id, user.pw, user.name, user.admin, commute.attend, commute.vacation, (CASE WHEN commute.attend IS null THEN '미출근' WHEN commute.attend <![CDATA[ <= ]]> time("9:00:59") THEN '출근' ELSE '미출근' END) AS textData FROM User LEFT JOIN COMMUTE ON user.userNo = commute.userNo AND date(commute.attend) = date(now());
	</select>
</mapper>