@charset "UTF-8";

html, body {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.alignleft {
	text-align: left;
}

#formdiv {
	display: flex;
}

#calendardiv {
	text-align: center;
	border: 1px solid black;
	width: 80%;
	display: inline-table;
}

#calendar {
	text-align: center;
	width: 100%;
	display: inline-table;
	border-collapse: collapse;
}

tr td {
	border: 1px solid black;
	padding: 10px;
	height: 100px;
}

#tbCalendarYM {
	font-size: x-large;
	font-weight: bolder;
}

#daytr td:nth-child(1) {
	background-color: #FFA7A7;
}

#daytr td:nth-child(7) {
	background-color: #B2CCFF;
}